<p>
  Welcome, admin user!
</p>

<%= link_to "Categories", admin_categories_path %>
<br>
<%= link_to @category_drafts.name, @category_drafts.path %>&nbsp;&nbsp;
<%= link_to @category_published.name, @category_published.path %>

<div>
  <a href="<%= new_admin_post_path %>">
    <button type="button" class="btn btn-primary">Create a Post</button>
  </a>
</div>

<%= button_to "Log out", session_path, method: :delete, class: "btn btn-primary my-2" if authenticated? %>
