<section class="px-3 py-5 p-md-5">
  <div class="container single-col-max-width">
    <p>
      Welcome, administrator <%= Current.session.user.email_address %>!
    </p>
    <%= link_to "Social media accounts", admin_social_media_accounts_path %>
    <br>
    <br>
    <%= link_to "GitHub App settings", admin_github_app_settings_path %>
    <br>
    <br>
    <%= link_to "Categories", admin_categories_path %>

    <div class="mt-3">
      <%= link_to @category_drafts.name, @category_drafts.path, target: "_blank" %>&nbsp;&nbsp;
      <%= link_to @category_published.name, @category_published.path, target: "_blank" %>
    </div>

    <div class="mt-3">
      <a href="<%= new_admin_post_path %>">
        <button type="button" class="btn btn-primary">Create a Post</button>
      </a>
    </div>

    <%= button_to "Log out", session_path, method: :delete, class: "btn btn-primary my-2" if authenticated? %>
  </div>
</section>
