<section class="px-3 py-5 p-md-5">
  <div class="container single-col-max-width">
    <p>
      <%= t(:welcome_admin, email: Current.session.user.email_address) %>
    </p>
    <div class="mt-3">
      <a href="<%= new_admin_post_path %>">
        <button type="button" class="btn btn-primary"><%= t(:create_a_post) %></button>
      </a>
    </div>
    <br>
    <%= link_to t(:website_display), "https://github.com/resumeblog/markdown-resume-blog/tree/main/docs/setup_website.md", "data-turbo": false, target: "_blank" %>
    <br>
    <br>
    <%= link_to "Categories", admin_categories_path %>
    <br>
    <br>
    <%= link_to "Social media accounts", admin_social_media_accounts_path %>
    <br>
    <br>
    <%= link_to "Email Subscribers", admin_email_subscribers_path %>
    <br>
    <br>
    <%= link_to "Manage Locales", admin_locales_path %>
    <br>
    <br>
    <%= link_to "Manage Subdomains", admin_subdomains_path %>
    <br>
    <br>
    <%= link_to "Settings", admin_settings_path %>
    <br>
    <br>
    <%= link_to "GitHub App settings", admin_github_app_settings_path %>
    <br>
    <br>
    <%= link_to "Jobs", jobs_path, "data-turbo": false, target: "_blank" %>
    <br>
    <br>
    <%= button_to t(:log_out), session_path, method: :delete, class: "btn btn-primary my-2" if authenticated? %>
  </div>
</section>
