<% content_for :title, "Edit social media account" %>

<section class="px-3 py-5 p-md-5">
  <div class="container single-col-max-width">
    <% if notice.present? %>
      <p style="color: green"><%= notice %></p>
    <% end %>

    <h5 class="mb-3">Edit social media account</h5>

    <%= form_with(model: [:admin, @social_media_account], data: { "turbo-action": "advance" }) do |form| %>
      <% if @social_media_account.errors.any? %>
        <div style="color: red">
          <h2><%= pluralize(@social_media_account.errors.count, "error") %> prohibited this social media account from being saved:</h2>

          <ul>
            <% @social_media_account.errors.each do |error| %>
              <li><%= error.full_message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="my-2">
        <%= form.label :key, class: "required" %>
        <%= form.text_field :key, class: "form-control" %>
      </div>

      <div class="my-2">
        <%= form.label :value %>
        <%= form.text_field :value, class: "form-control value_text_field" %>
        <% if @social_media_account.target_url? %>
          <span>
            <%= @social_media_account.target_url_base %><span id="value_target"><%= @social_media_account.value %></span>
          </span>
        <% elsif @social_media_account.target_url_example.present? %>
          <span>Example: <%= @social_media_account.target_url_example %></span>
        <% end %>
      </div>

      <div class="mt-4">
        <%= form.submit nil, class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</section>

<% if @social_media_account.target_url? %>
  <script>
    document.addEventListener('turbo:load', pageLoaded);

    function pageLoaded() {
      const valueTextField = document.querySelector('.value_text_field');

      if (valueTextField) {
        valueTextField.addEventListener('input', () => {
          const valueTarget = document.querySelector('#value_target')
          if (valueTarget) {
            valueTarget.textContent = valueTextField.value;
          }
        });
      }
    }
  </script>
<% end %>
