<% title(@post.title) %>

<%= render "shared/language_menu_updater" %>

<article class="blog-post px-3 py-5 p-md-5">
  <div class="container single-col-max-width">
    <header class="blog-post-header">
      <h2 class="title mb-2"><%= @post.title %></h2>
      <div class="meta mb-3">
        <span class="date"><%= t(:posted_at) %> <%= time_ago_in_words(@post.published_at) %></span>
        <span class="time"><%= (@post.content || "").size / 200 %> <%= t(:min_read) %></span>
      </div>
    </header>

    <div class="blog-post-body">
      <%= raw markdown_text(@post.content) %>
    </div>
  </div>
</article>

<section class="theme-bg-light py-5">
  <div class="container text-center single-col-max-width">
    <%= render 'shared/email_subscription' %>

    <%= javascript_include_tag "pages/post_show" %>
  </div>
</section>
