<% content_for :title, "Experiences" %>

<section class="px-3 py-5 p-md-5">
  <div class="container single-col-max-width">
    <%= tag.div(flash[:notice], class: "text-success mb-3") if flash[:notice] %>

    <div class="d-flex justify-content-between align-items-center">
      <h5>Experiences</h5>
      <a href="<%= new_admin_experience_path %>" data-turbo-action="advance">
        <button type="button" class="btn btn-primary btn-sm">Add experience</button>
      </a>
    </div>

    <table class="table table-striped my-4">
      <thead>
      <tr>
        <th>#</th>
        <th>Company Name</th>
        <th>Job Title</th>
        <th>Description</th>
        <th>Start Time</th>
        <th>End Time</th>
        <th></th>
      </tr>
      </thead>

      <tbody>
      <% @experiences.each do |experience| %>
        <tr>
          <th><%= experience.id %></th>
          <td><%= experience.company_name %></td>
          <td><%= experience.title %></td>
          <td><%= raw markdown_text(experience.description) %></td>
          <td><%= experience.start_year %><%= experience.start_month.present? ? "-#{experience.start_month}" : '' %></td>
          <td><%= experience.end_year.present? ? "#{experience.end_year}" + (experience.end_month.present? ? "-#{experience.end_month}" : '') : 'Present' %></td>
          <td>
            <div class="d-flex gap-2">
              <a href="<%= edit_admin_experience_path(experience) %>" data-turbo-action="advance">
                <button type="button" class="btn btn-sm btn-outline-primary">Edit</button>
              </a>
              <%= button_to "Delete",
                            admin_experience_path(experience),
                            method: :delete,
                            class: "btn btn-danger btn-sm",
                            form: {
                              data: {
                                turbo_confirm: "Are you sure you want to delete this experience?",
                                turbo_confirm_type: "danger"
                              }
                            } %>
            </div>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</section>
