<div class="resume-header">
  <div class="row align-items-center">
    <div class="resume-title col-12 col-md-6 col-lg-8 col-xl-9">
      <h2 class="resume-name mb-0 text-uppercase"><%= @resume.name || "Full Name" %></h2>
      <div class="resume-tagline mb-3 mb-md-0">
        <%= @resume.position || "Position Information" %>
        <% if @can_edit %>
          &nbsp;<%= link_to "edit", edit_admin_resume_path(@resume) %>
          &nbsp;<%= link_to "visitor's view", "#{localed(cv_path)}?view=visitor" %>
        <% end %>
      </div>
    </div>

    <div class="resume-contact col-12 col-md-6 col-lg-4 col-xl-3">
      <ul class="list-unstyled mb-0">
        <li class="mb-2">
          <i class="fas fa-globe fa-fw fa-lg me-2"></i><a class="resume-link" href="<%= root_path %>" target="_blank">Portfolio & Blogs</a>
        </li>
        <li class="mb-2">
          <i class="fas fa-envelope-square fa-fw fa-lg me-2"></i><a class="resume-link" href="#"><%= @resume.email_address %></a>
        </li>
    <% @social_media_accounts.each do |account| %>
      <% if account.key == 'phone_number' %>
        <li class="mb-2">
          <i class="fas fa-phone-square fa-fw fa-lg me-2 "></i><a class="resume-link" href="#"><%= account.value %></a>
        </li>
      <% elsif account.key == 'website_url' %>
        <li class="mb-2">
          <i class="fas fa-globe fa-fw fa-lg me-2"></i><a class="resume-link" href="<%= account.value %>" target="_blank"><%= account.value %></a>
        </li>
      <% elsif account.key == 'blog_url' %>
        <li class="mb-2">
          <i class="fas fa-globe fa-fw fa-lg me-2"></i><a class="resume-link" href="<%= account.value %>" target="_blank"><%= account.value %></a>
        </li>
      <% end %>
    <% end %>
        <li class="mb-0">
          <i class="fas fa-map-marker-alt fa-fw fa-lg me-2"></i><%= @resume.city || "City Name" %><% if @can_edit %>&nbsp;<%= link_to "edit social", admin_social_media_accounts_path, title: "Edit Social Media Accounts" %><% end %>
        </li>
      </ul>
    </div>
  </div>
</div>

<hr>

<div class="resume-intro py-3">
  <div class="row align-items-center">
    <div class="col-12 col-md-3 col-xl-2 text-center">
      <%= image_tag "profile.jpg", class: "resume-profile-image mb-3 mb-md-0 me-md-5  ms-md-0 rounded-circle mx-auto", alt: "profile image" %>
    </div>

    <div id="resume_summary" class="col text-start">
      <%= raw markdown_text(@resume.summary) %>
<!--      <p class="mb-0">-->
<!--      </p>-->
    </div>
  </div>
</div>

<hr>

<div class="resume-body">
  <div class="row">
    <div class="resume-main col-12 col-lg-8 col-xl-9 pe-0 pe-lg-5">
      <section class="work-section py-3">
        <h3 class="text-uppercase resume-section-heading mb-4">Work Experiences</h3>
        <% @experiences.each do |experience| %>
        <div class="item mb-3">
          <div class="item-heading row align-items-center mb-2">
            <h4 class="item-title col-12 col-md-6 col-lg-8 mb-2 mb-md-0"><%= experience.title %></h4>
            <div class="item-meta col-12 col-md-6 col-lg-4 text-muted text-start text-md-end">
              <%= experience.company_name %> | <%= experience.start_year %><%= experience.start_month.present? ? "-#{experience.start_month}" : '' %> - <%= experience.end_year.present? ? "#{experience.end_year}" + (experience.end_month.present? ? "-#{experience.end_month}" : '') : 'Present' %>
            </div>
          </div>
          <div class="item-content">
            <%= raw markdown_text(experience.description) %>
<!--            <p></p>-->
<!--            <ul class="resume-list">-->
<!--              <li>Lorem ipsum dolor sit amet, consectetuer.</li>-->
<!--              <li>Aenean commodo ligula eget dolor.</li>-->
<!--              <li>Etiam ultricies nisi vel augue.</li>-->
<!--            </ul>-->
          </div>
        </div>
        <% end %>
        <% if @can_edit %>
        <div class="item">
          <p><%= link_to "edit", admin_experiences_path %></p>
        </div>
        <% end %>
      </section>

      <section class="project-section py-3">
        <h3 class="text-uppercase resume-section-heading mb-4">Projects</h3>
        <% @projects.each do |project| %>
        <div class="item mb-3">
          <div class="item-heading row align-items-center mb-2">
            <h4 class="item-title col-12 col-md-6 col-lg-8 mb-2 mb-md-0"><%= project.name %></h4>
            <div class="item-meta col-12 col-md-6 col-lg-4 text-muted text-start text-md-end">
              <%= project.summary %>
            </div>
          </div>

          <div class="item-content">
            <%= raw markdown_text(project.description) %>
          </div>
        </div>
        <% end %>
        <% if @can_edit %>
        <div class="item">
          <p><%= link_to "edit", admin_projects_path %></p>
        </div>
        <% end %>
      </section>
    </div>

    <aside class="resume-aside col-12 col-lg-4 col-xl-3 px-lg-4 pb-lg-4">
      <% if @technical_skills.present? || @professional_skills.present? || @can_edit %>
      <section class="skills-section py-3">
        <h3 class="text-uppercase resume-section-heading mb-4">Skills</h3>

        <% if @technical_skills.present? || @can_edit %>
        <div class="item">
          <h4 class="item-title">Technical</h4>
          <ul class="list-unstyled resume-skills-list">
          <% @technical_skills.each do |skill| %>
            <li class="mb-2"><%= skill.name %></li>
          <% end %>
          <% if @can_edit %>
            <li><%= link_to "edit", admin_technical_skills_path %></li>
          <% end %>
          </ul>
          <% end %>
        </div>

        <% if @professional_skills.present? || @can_edit %>
        <div class="item">
          <h4 class="item-title">Professional</h4>
          <ul class="list-unstyled resume-skills-list">
          <% @professional_skills.each do |skill| %>
            <li class="mb-2"><%= skill.name %></li>
          <% end %>
          <% if @can_edit %>
            <li><%= link_to "edit", admin_professional_skills_path %></li>
          <% end %>
          </ul>
        </div>
        <% end %>
      </section>
      <% end %>

      <% if @educations.present? || @can_edit %>
      <section class="education-section py-3">
        <h3 class="text-uppercase resume-section-heading mb-4">Education</h3>
        <ul class="list-unstyled resume-education-list">
        <% @educations.each do |education| %>
          <li class="mb-3">
            <div class="resume-degree font-weight-bold"><%= education.degree %><% if education.field_of_study.present? %> in <%= education.field_of_study %><% end %></div>
            <div class="resume-degree-org text-muted"><%= education.school_name %></div>
            <div class="resume-degree-time text-muted"><%= education.start_year %> - <%= education.end_year %></div>
          </li>
        <% end %>
        <% if @can_edit %>
          <li><%= link_to "edit", admin_educations_path %></li>
        <% end %>
        </ul>
      </section>
      <% end %>

<!--      <section class="education-section py-3">-->
<!--        <h3 class="text-uppercase resume-section-heading mb-4">Awards</h3>-->
<!--        <ul class="list-unstyled resume-awards-list">-->
<!--          <li class="mb-3">-->
<!--            <div class="font-weight-bold">Award Lorem Ipsum</div>-->
<!--            <div class="text-muted">Microsoft lorem ipsum (2023)</div>-->
<!--          </li>-->
<!--          <li>-->
<!--            <div class="font-weight-bold">Award Donec Sodales</div>-->
<!--            <div class="text-muted">Oracle Aenean (2020)</div>-->
<!--          </li>-->
<!--        </ul>-->
<!--      </section>-->

      <% if @languages.present? || @can_edit %>
      <section class="skills-section py-3">
        <h3 class="text-uppercase resume-section-heading mb-4">Languages</h3>
        <ul class="list-unstyled resume-lang-list">
        <% @languages.each do |language| %>
          <li class="mb-2">
            <%= language.name %><% if language.proficiency %> <span class="text-muted">(<%= language.proficiency.humanize %>)</span><% end %>
          </li>
        <% end %>
        <% if @can_edit %>
          <li><%= link_to "edit", admin_languages_path %></li>
        <% end %>
        </ul>
      </section>
      <% end %>

      <% if @interests.present? || @can_edit %>
      <section class="skills-section py-3">
        <h3 class="text-uppercase resume-section-heading mb-4">Interests</h3>
        <ul class="list-unstyled resume-interests-list mb-0">
        <% @interests.each do |interest| %>
          <li class="mb-2"><%= interest.name %></li>
        <% end %>
        <% if @can_edit %>
          <li><%= link_to "edit", admin_interests_path %></li>
        <% end %>
        </ul>
      </section>
      <% end %>
    </aside><!--//resume-aside-->
  </div><!--//row-->
</div><!--//resume-body-->
<hr>
<div class="resume-footer text-center">
  <ul class="resume-social-list list-inline mx-auto mb-0 d-inline-block text-muted">
    <li class="list-inline-item mb-lg-0 me-3"><a class="resume-link" href="#"><i
      class="fa-brands fa-github-square fa-2x me-2" data-fa-transform="down-4"></i><span
      class="d-none d-lg-inline-block text-muted">github.com/username</span></a></li>
    <li class="list-inline-item mb-lg-0 me-3"><a class="resume-link" href="#"><i
      class="fa-brands fa-linkedin fa-2x me-2" data-fa-transform="down-4"></i><span
      class="d-none d-lg-inline-block text-muted">linkedin.com/in/username</span></a></li>
    <li class="list-inline-item mb-lg-0 me-lg-3"><a class="resume-link" href="#"><i
      class="fa-brands fa-square-x-twitter fa-2x me-2" data-fa-transform="down-4"></i><span
      class="d-none d-lg-inline-block text-muted">@twittername</span></a></li>
  </ul>
</div><!--//resume-footer-->
