<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>
      <% title = content_for(:title) %>
      <% if title.present? %>
        <%= title %> -
      <% end %>
       <%= t(:blog_name) %>
    </title>
    <meta name="description" content="<%= t(:headline) %>" />
    <meta name="author" content="<%= t(:author_name) %>" />

    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="mobile-web-app-capable" content="yes" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :application, "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "rouge-theme-molokai.css", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "theme-1.css", "data-turbo-track": "reload" %>

    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render 'shared/left_sidebar' %>

    <div class="main-wrapper">
      <%= yield %>

      <footer class="footer text-center py-2 theme-bg-dark">
        <small class="copyright">Powered by <a href="https://github.com/markdown-blog-com/ruby-rails-markdown-blog" target="_blank">Markdown Blog</a></small>,
        <!--/* This template is free as long as you keep the footer attribution link. If you'd like to use the template without the attribution link, you can buy the commercial license via our website: themes.3rdwavemedia.com Thank you for your support. :) */-->
        <small class="copyright">designed by <a href="https://themes.3rdwavemedia.com" target="_blank">Xiaoying</a></small>
      </footer>
    </div>
  </body>

  <%= javascript_include_tag 'src/fontawesome/js/all.min', defer: 'defer' %>
  <%= javascript_include_tag 'src/popper.min' %>
  <%= javascript_include_tag 'src/bootstrap.min' %>
  <%= javascript_include_tag 'src/initialize_bootstrap' %>
</html>
